# Build Directories (Root and Nested)
build/
out/
bin/

# Compiled Objects & Libraries
*.o
*.a
*.so

# IDE & Editors
.vscode/
.idea/
*.swp
*.DS_Store

# Dependencies
vcpkg_installed/

# Obsolete/Temporary files
examples/000_MatrixMul/compute.glsl
